name: CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Checkout the code from the repository
      - name: Checkout code
        uses: actions/checkout@v2 #to clone repository code

      # Set up JDK 11
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'temurin'

      # Install dependencies and compile the application
      - name: Build with Maven
        run: mvn install

      # Run tests
      - name: Run Tests
        run: mvn test

      # Build Docker Image
      - name: Build Docker Image
        run: docker build -t izzahzafer/Github_Actions:${{ github.sha }} .

      # Log in to Docker Hub
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # Push Docker Image to Docker Hub
      - name: Push Docker Image
        run: docker push izzahzafer/Github_Actions:${{ github.sha }}
